# ----------------------------------------------------------------
# Files to be ignored by git
# ----------------------------------------------------------------

# misc.
persistent

# text files
errors.txt
log.txt
script.txt

# renpy artifacts
*.rpyb
*.rpyc
*.save
