# ----------------------------------------------------------------
# Files to be ignored by git
# ----------------------------------------------------------------

# misc.
game/saves/persistent
game/cache/*

# text files
errors.txt
log.txt
script.txt

# renpy artifacts
*.rpyb
*.rpyc
*.save
