# =================================================================
# file:         script.rpy
# description:  Main entry point of the game
# author:       Sheikh Saad Abdullah (A00447871)
# =================================================================

# ----------------------------------------------------------------
# Files to be ignored by git
# ----------------------------------------------------------------

# misc.
persistent
.vscode

# text files
traceback.txt
errors.txt
log.txt
script.txt

# renpy artifacts
*.rpyb
*.rpyc
*.save
